body {
  background: whitesmoke;
}
.app_core {
  width: 500px;
  margin: 40px auto 0 auto;
}
.app_core .login > div {
  width: 220px;
  border: 1px solid #000;
  padding: 10px;
}
.app_core .login > div > h4 {
  text-align: center;
  margin: 0 0 10px 0;
}
.app_core .login .private-login {
  float: left;
}
.app_core .login .public-login {
  float: right;
}
