<div class="login">
    <div class="private-login">
        <h4>Presenter Login</h4>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <div class="btn-toolbar pull-right">
            <button class="disabled btn btn-info">Forgot my password</button>
            <button class="btn btn-success">Login</button>
        </div>
    </div>
    
    <div class="public-login">
        <h4>Viewer Login</h4>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />        
        <div class="btn-toolbar pull-right">
            <button class="disabled btn btn-info">Forgot my password</button>
            <button class="btn btn-success">Login</button>
        </div>
    </div>
</div>